<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/MediaWiki-smaller-logo.png" alt="image">
        </figure>
      </div>
      <div class="media-content" >
        <p class="title is-4" >{{ term[0]['title'] }}</p>
        <p class="subtitle is-6"></p>
      </div>
    </div>

    <div class="content" [innerHTML]="(term[0]['snippet'])">
 
      <br>
    </div>
  </div>
</div>

<table class="table is-striped">
<thead>
  <tr>
    <th>{{pages.length}} search Result</th>
   
  </tr>
  <br>
</thead>
<tbody>
  <tr *ngFor="let page of pages | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalPages } ">
    <td>
      <a
        target="_blank"
        [href]="'https://en.wikipedia.org?curid='+ page['pageid']">
        {{ page["title"] }}
      </a>
    </td>
    <td>{{ page["wordcount"] }}</td>
    <td [innerHTML]="(page['snippet'])"></td>
  </tr>
</tbody>
</table>

<div class="text-center" *ngIf="pages.length > 10">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>